html {
    background-color: orange;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 85px;
}

.head {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
    background-color: orangered;
}

.list {
    text-align: center;
    background-color: orangered;
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }